:{$PORT} {
	@adminReferer {
		header Referer *icompaas-phishingsimulation.up.railway.app/admin*
	}

	route /admin* {
		uri strip_prefix /admin
		reverse_proxy icompaas-phishingsimulation.railway.internal:3333 {
			header_down Location "^/(.*)$" "/admin/$1"
		}
	}

	route @adminReferer {
		reverse_proxy icompaas-phishingsimulation.railway.internal:3333 {
			header_down Location "^/(.*)$" "/admin/$1"
		}
	}

	route {
		reverse_proxy icompaas-phishingsimulation.railway.internal:80
	}
}
